src/KayMcCormick.Dev/KayMcCormick.Dev/Connected Services/ServiceReference1/App.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/KayMcCormick.Dev" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KayMcCormick.Dev" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8736/ProjInterface/App?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/NLog.Targets" />
  <xs:complexType name="AppInstanceInfoRequest">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="AppInstanceInfoRequest" nillable="true" type="tns:AppInstanceInfoRequest" />
  <xs:complexType name="AppInstanceInfoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Info" nillable="true" type="tns:AppInstanceInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AppInstanceInfoResponse" nillable="true" type="tns:AppInstanceInfoResponse" />
  <xs:complexType name="AppInstanceInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="LoggerInfos" nillable="true" type="tns:ArrayOfLoggerInfo" />
      <xs:element minOccurs="0" name="StartupTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AppInstanceInfo" nillable="true" type="tns:AppInstanceInfo" />
  <xs:complexType name="ArrayOfLoggerInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LoggerInfo" nillable="true" type="tns:LoggerInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLoggerInfo" nillable="true" type="tns:ArrayOfLoggerInfo" />
  <xs:complexType name="LoggerInfo">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NLog.Targets" minOccurs="0" name="FileTarget" nillable="true" type="q1:FileTarget" />
      <xs:element minOccurs="0" name="TargetName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoggerInfo" nillable="true" type="tns:LoggerInfo" />
</xs:schema>