src/KayMcCormick.Dev/KayMcCormick.Dev/Connected Services/ServiceReference1/App2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8736/ProjInterface/App?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KayMcCormick.Dev" />
  <xs:element name="GetAppInstanceInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/KayMcCormick.Dev" minOccurs="0" name="request" nillable="true" type="q1:AppInstanceInfoRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppInstanceInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/KayMcCormick.Dev" minOccurs="0" name="GetAppInstanceInfoResult" nillable="true" type="q2:AppInstanceInfoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>