src/KayMcCormick.Dev/KayMcCormick.Dev/Connected Services/ServiceReference1/App33.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NLog.Targets" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NLog.Targets" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8736/ProjInterface/App?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/NLog.Layouts" />
  <xs:import schemaLocation="http://localhost:8736/ProjInterface/App?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System.Text" />
  <xs:import schemaLocation="http://localhost:8736/ProjInterface/App?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="FileTarget">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:TargetWithLayoutHeaderAndFooter">
        <xs:sequence>
          <xs:element minOccurs="0" name="ArchiveAboveSize" type="xs:long" />
          <xs:element minOccurs="0" name="ArchiveDateFormat" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ArchiveEvery" type="tns:FileArchivePeriod" />
          <xs:element minOccurs="0" name="ArchiveFileKind" type="tns:FilePathKind" />
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NLog.Layouts" minOccurs="0" name="ArchiveFileName" nillable="true" type="q1:Layout" />
          <xs:element minOccurs="0" name="ArchiveNumbering" type="tns:ArchiveNumberingMode" />
          <xs:element minOccurs="0" name="ArchiveOldFileOnStartup" type="xs:boolean" />
          <xs:element minOccurs="0" name="ArchiveOldFileOnStartupAboveSize" type="xs:long" />
          <xs:element minOccurs="0" name="AutoFlush" type="xs:boolean" />
          <xs:element minOccurs="0" name="BufferSize" type="xs:int" />
          <xs:element minOccurs="0" name="CleanupFileName" type="xs:boolean" />
          <xs:element minOccurs="0" name="ConcurrentWriteAttemptDelay" type="xs:int" />
          <xs:element minOccurs="0" name="ConcurrentWriteAttempts" type="xs:int" />
          <xs:element minOccurs="0" name="ConcurrentWrites" type="xs:boolean" />
          <xs:element minOccurs="0" name="CreateDirs" type="xs:boolean" />
          <xs:element minOccurs="0" name="DeleteOldFileOnStartup" type="xs:boolean" />
          <xs:element minOccurs="0" name="DiscardAll" type="xs:boolean" />
          <xs:element minOccurs="0" name="EnableArchiveFileCompression" type="xs:boolean" />
          <xs:element minOccurs="0" name="EnableFileDelete" type="xs:boolean" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.Text" minOccurs="0" name="Encoding" nillable="true" type="q2:Encoding" />
          <xs:element minOccurs="0" name="FileAttributes" type="tns:Win32FileAttributes" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/NLog.Layouts" minOccurs="0" name="FileName" nillable="true" type="q3:Layout" />
          <xs:element minOccurs="0" name="FileNameKind" type="tns:FilePathKind" />
          <xs:element minOccurs="0" name="ForceManaged" type="xs:boolean" />
          <xs:element minOccurs="0" name="ForceMutexConcurrentWrites" type="xs:boolean" />
          <xs:element minOccurs="0" name="KeepFileOpen" type="xs:boolean" />
          <xs:element minOccurs="0" name="LineEnding" nillable="true" type="tns:LineEndingMode" />
          <xs:element minOccurs="0" name="MaxArchiveDays" type="xs:int" />
          <xs:element minOccurs="0" name="MaxArchiveFiles" type="xs:int" />
          <xs:element minOccurs="0" name="NetworkWrites" type="xs:boolean" />
          <xs:element minOccurs="0" name="OpenFileCacheSize" type="xs:int" />
          <xs:element minOccurs="0" name="OpenFileCacheTimeout" type="xs:int" />
          <xs:element minOccurs="0" name="OpenFileFlushTimeout" type="xs:int" />
          <xs:element minOccurs="0" name="ReplaceFileContentsOnEachWrite" type="xs:boolean" />
          <xs:element minOccurs="0" name="WriteBom" type="xs:boolean" />
          <xs:element minOccurs="0" name="WriteFooterOnArchivingOnly" type="xs:boolean" />
          <xs:element minOccurs="0" name="maxLogFilenames" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FileTarget" nillable="true" type="tns:FileTarget" />
  <xs:complexType name="TargetWithLayoutHeaderAndFooter">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:TargetWithLayout">
        <xs:sequence>
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/NLog.Layouts" minOccurs="0" name="Footer" nillable="true" type="q4:Layout" />
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/NLog.Layouts" minOccurs="0" name="Header" nillable="true" type="q5:Layout" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TargetWithLayoutHeaderAndFooter" nillable="true" type="tns:TargetWithLayoutHeaderAndFooter" />
  <xs:complexType name="TargetWithLayout">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Target">
        <xs:sequence>
          <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/NLog.Layouts" minOccurs="0" name="Layout" nillable="true" type="q6:Layout" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TargetWithLayout" nillable="true" type="tns:TargetWithLayout" />
  <xs:complexType name="Target">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OptimizeBufferReuse" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Target" nillable="true" type="tns:Target" />
  <xs:simpleType name="FileArchivePeriod">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Year" />
      <xs:enumeration value="Month" />
      <xs:enumeration value="Day" />
      <xs:enumeration value="Hour" />
      <xs:enumeration value="Minute" />
      <xs:enumeration value="Sunday" />
      <xs:enumeration value="Monday" />
      <xs:enumeration value="Tuesday" />
      <xs:enumeration value="Wednesday" />
      <xs:enumeration value="Thursday" />
      <xs:enumeration value="Friday" />
      <xs:enumeration value="Saturday" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FileArchivePeriod" nillable="true" type="tns:FileArchivePeriod" />
  <xs:simpleType name="FilePathKind">
    <xs:annotation>
      <xs:appinfo>
        <ActualType Name="unsignedByte" Namespace="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="Relative" />
      <xs:enumeration value="Absolute" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FilePathKind" nillable="true" type="tns:FilePathKind" />
  <xs:simpleType name="ArchiveNumberingMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Sequence" />
      <xs:enumeration value="Rolling" />
      <xs:enumeration value="Date" />
      <xs:enumeration value="DateAndSequence" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ArchiveNumberingMode" nillable="true" type="tns:ArchiveNumberingMode" />
  <xs:simpleType name="Win32FileAttributes">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="ReadOnly" />
          <xs:enumeration value="Hidden" />
          <xs:enumeration value="System" />
          <xs:enumeration value="Archive">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">32</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Device">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">64</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Normal">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">128</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Temporary">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">256</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="SparseFile">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">512</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="ReparsePoint">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1024</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Compressed">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2048</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="NotContentIndexed">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">8192</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Encrypted">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">16384</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="WriteThrough">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-2147483648</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="NoBuffering">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">536870912</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="DeleteOnClose">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">67108864</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="PosixSemantics">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">16777216</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="Win32FileAttributes" nillable="true" type="tns:Win32FileAttributes" />
  <xs:complexType name="LineEndingMode">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="LineEndingMode" nillable="true" type="tns:LineEndingMode" />
</xs:schema>