src/KayMcCormick.Dev/Desktop/Analysis/AnalysisFramework/Connected Services/AnalysisService1Reference/AnalysisService11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8738/AnalysisService1?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AnalysisServiceLibrary" />
  <xs:element name="RestorePackages">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AnalysisServiceLibrary" minOccurs="0" name="request" nillable="true" type="q1:RestorePackagesRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RestorePackagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RestorePackagesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>