src/KayMcCormick.Dev/KayMcCormick.Dev/Connected Services/CentralServiceReference/CentralSvc2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8737/CentralSvc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KayMcCormick.Dev.Interfaces" />
  <xs:element name="RegisterApplicationInstance">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/KayMcCormick.Dev.Interfaces" minOccurs="0" name="request" nillable="true" type="q1:RegisterApplicationInstanceRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterApplicationInstanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/KayMcCormick.Dev.Interfaces" minOccurs="0" name="RegisterApplicationInstanceResult" nillable="true" type="q2:RegisterApplicationInstanceResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>